
/* rgb(220, 255, 253); light cyan
rgb(82, 255, 238) turquoise blue
rgb(247, 111, 108) light coral
rgb(255, 223, 116) jasmine */

.navbar {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 20px;
}

.navList {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.navList button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(255, 223, 116);
    color: black;
    border: black;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
}

.navLink {
    color: rgb(82, 255, 238);
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
